---
import { Dashboard } from "../components/Dashboard";

import { getFeed, parseFeed } from "htmlparser2";

const res = await fetch("https://chriscoyier.net/feed/");
const doc = await res.text();
const data = parseFeed(doc, {
  xmlMode: true,
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Dashboard client:load />
  </body>
</html>
